@use '../../global/index' as *;
.profile-atributes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(20);

  width: 100%;

  transition: all 0.4s;

  grid-area: atributes;

  @include breakpoint-down(medium) {
    gap: rem(15);
  }

  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
  }

  @include breakpoint-down(mobile) {
    grid-template-columns: 1fr;
  }

  &__col {
    gap: rem(20);

    display: grid;

    @include breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(small) {
      grid-template-columns: repeat(auto-fit, minmax(rem(120), 1fr));
    }
    @include breakpoint-down(mobile) {
      grid-template-columns: repeat(auto-fit, minmax(rem(140), 1fr));
    }
  }
}
