@use '../../global/index' as *;

.profile-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    width: rem(150);
    border-radius: 50%;
    object-fit: cover;

    margin-bottom: rem(10);

    @include breakpoint-down(small) {
      width: rem(80);
    }
  }

  &__username {
    font-weight: 600;
    font-size: var(--font-500);
    text-align: center;
  }

  &__name {
    margin-bottom: rem(40);
    text-align: center;
    font-size: var(--font-500);
  }
}
