@use '../../global/index' as *;
.btn {
  padding: 0.7em 1.2em;
  font-size: var(--font-300);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;

  &--primary {
    background-color: var(--clr-blue);
    color: white;
    transition: all 0.2s;
    font-weight: 500;

    &:hover {
      background-color: var(--clr-blue-light);
    }
  }

  &--collapse {
    box-shadow: var(--shadow-light);
    width: 100%;

    svg {
      font-size: var(--font-600);
    }
  }
}
