@use './utils' as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-black);
  padding: rem(20) rem(60);
  font-family: var(--font-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
